@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 1px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

:root {
  --light: #35b6fa11;
  --color-naranja: #f7ad5d;
  --light-gray: #f8f8f8;
  --shadow: 0px 0px 7px 1px rgb(204, 204, 204);
  --light-shadow: 0px 0px 7px 1px rgb(238, 238, 238);
  --theme-color: #25adff;
  --theme-second: #44b7ff;
  --gray: rgb(251, 251, 251);
  --light-blue: #ebf5ff;
  --gray-text: rgb(199, 199, 199);
  --red: rgb(255, 53, 53);
  --green: rgb(25, 221, 25);
  --icon-shadow: drop-shadow(0px 10px 5px #9e65c9b6);
  --overlay: rgba(0, 0, 0, 0.5);
  --gray-shadow: 0px 0px 7px 1px rgb(49 49 49);
}
.closeicon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 35px;
}
a {
  text-decoration: none;
  transition: all 0.3s;
}
.app .fa-exclamation-circle {
  color: var(--red);
}
.app .fa-check-circle {
  color: var(--green);
}
.app .fa-exclamation-triangle {
  color: rgb(255, 212, 22);
}
.capitalize {
  text-transform: capitalize;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}
.opacidad-container {
  background-color: #1d1d1d5a;
  padding-bottom: 30px;
}
.opacidad-container h4 {
  font-size: 3rem;
}
h3.text-bold.text-2xl.font-extrabold {
  margin: 0.5rem 0px;
}
* {
  box-sizing: border-box;
  position: relative;
}
/* img {
  object-fit: cover;
} */

p {
  outline: none;
}
hr {
  border: none;
  background-color: #f0f0f2;
  width: 90%;
  height: 1px;
}
.spacer1 {
  height: 100px;
}

i {
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
time {
  text-transform: capitalize;
}
button {
  cursor: pointer;
  border: solid 2px transparent;
  transition: all 0.3s;
}

::selection {
  background-color: #000;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-text);
  border-radius: 10px;
}

.fillcontainer {
  width: 100%;
  height: 100%;
}
.MuiButton-label {
  height: 100%;
}
.button-0 {
  bottom: 120px;
  transition: 1s;
  right: 20px;
}
.button-0:hover {
  transform: rotate(180deg);
  background-color: black;
  fill: black;
}
.MuiTouchRipple-root {
  opacity: 0.2;
}
.flexrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-wrapper {
  right: 0;
  display: flex;
  flex-direction: column-reverse;
}
.notifications-tr {
  max-width: 80%;
  display: flex;
  flex-direction: column-reverse;
}
.notifications-wrapper .notification-dismiss {
  display: none;
}

.notification-message {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.notification-message > div {
  display: flex;
  align-items: center;
}
.notification-message > div i {
  margin-right: 5px;
}
.notifications-tl {
  min-width: 420px;
}
.notification-message .fa-times {
  display: flex;
  align-items: center;
}
.notifications-tl .themeBtn {
  width: 80px;
  font-size: 10px;
  padding: 0;
  height: 20px;
  border-radius: 5px;
  margin-left: 5px;
  z-index: 111111;
}
.notifications-tl .themeBtn:hover {
  background-color: var(--theme-second);
}
.notic i {
  color: var(--theme-color);
}

.googlepay button,
.googlepay div {
  width: 100%;
}

.accordionsummary i {
  font-size: 14px;
}
.rskeletonimg {
  animation: skeleton 2.2s infinite;
}
@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
input {
  padding-left: 1rem;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 0px !important;
  outline-offset: 0px !important;
  box-shadow: none !important;
}
.button-contianer {
  display: flex;
  justify-content: space-between;
}

.img-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  border: 5px solid #ffffff;
  border-radius: 10px;
}

.img-container div {
  width: 105rem;
}

.slider {
  margin: 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.react-multi-carousel-list {
  padding: 1.5rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.react-multi-carousel-item {
  /* width: 225px !important; */
  display: flex;
  justify-content: center;
  align-content: center;

  margin-right: 1px;
}

/* espaciado multi menu mobil return  */

.first-back-btn svg,
.second-back-btn svg {
  margin-right: 0.5rem;
  cursor: pointer;
}

.first-back-btn,
.second-back-btn {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #c9c9c9;
}
/* color left carousel */
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  background-color: black;
  z-index: 0;
}

.fixed.bottom-1.left-1.z-50.flex.h-6.w-6.items-center.justify-center.rounded-full.bg-gray-800.p-3.font-mono.text-xs.text-white {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/* img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
} */

/* red validation form text */
.validationFormRed {
  color: rgb(255, 128, 128);
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  background-color: black;
  z-index: 0;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .xl\:top-\[101px\] {
    top: 80px !important;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .xl\:top-\[101px\] {
    top: 80px !important;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .xl\:top-\[101px\] {
    top: 80px !important;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .xl\:top-\[80px\] {
    top: 80px !important;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops   */

  .xl\:top-\[101px\] {
    top: 145px !important;
  }
}

/* div#radix-\:ru\: div div,
div#radix-\:r21\: div div {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
} */
div.fixed.z-50.scale-100.gap-4.bg-background.p-6.opacity-100.shadow-lg.border.animate-in.slide-in-from-right.h-full.duration-300 {
  overflow-y: scroll !important;
}
/* form.sticky.top-20 div:nth-child(6) div {
  display: grid;
  grid-template-columns: 1fr !important;
} */
form.sticky.top-20 div:nth-child(5) div div {
  /* background-color: red !important; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 5px;
  justify-content: flex-start;
  align-items: end;
  justify-items: stretch;
}

::selection {
  color: #000;
  background-color: var(--theme-color);
}

.fixed.inset-0.z-50.bg-background\/80.backdrop-blur-sm.transition-all.duration-100.data-\[state\=closed\]\:animate-out.data-\[state\=closed\]\:fade-out.data-\[state\=open\]\:fade-in {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.685);
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
